{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  </head>
  <body>
    <h1>Dynamic Tic Tac Toe</h1>
    <button onclick="location.href='{% url 'solo_mode' %}'">1인 모드</button>
    <button onclick="location.href='{% url 'couple_mode' %}'">2인 모드</button>
    <button onclick="location.href='{% url 'practice_mode' %}'">연습 모드</button>
  </body>
</html>
