{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  </head>
  <body>
    <div id="main_container">
      <h1>1인 모드</h1>
      <button onclick="location.href='{% url 'solo_mode' 'X' %}'">선공: X</button>
      <button onclick="location.href='{% url 'solo_mode' 'O' %}'">후공: O</button>
    </div>
  </body>
</html>
