/* static/css/main.css */

body {
  height: 100vh;
  margin: 0;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

/* 메인 화면 */
#main_container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 1em;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#main_container h1 {
  font-size: 1.8em;
  margin: 0.5em 0 1em;
  color: #2d3748;
}

#main_container button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 0.8em;
  margin: 0.5em auto;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  background-color: #31d47d;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#main_container button:hover {
  transform: translateY(-2px); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
}

#main_container button:active {
  transform: scale(0.98); 
  box-shadow: none;
}

@media (max-width: 480px) {
  #main_container h1 {
    font-size: 1.5em;
  }

  #main_container button {
    font-size: 0.9em; 
    padding: 0.7em;
  }
}

/* 게임 화면 */
.wrapper {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 1em;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  columns: #2d3748;
}

#game_board {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
  max-width: 14em;
  margin: 0 auto 1em;
  padding: 0;
  box-sizing: border-box;
}

.cell {
  background: #31d47d;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  font-size: 1.5em; 
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.2s transform 0.1s;
  margin: 0;
}
.cell:hover {
  background: #28b76b;
  transform: scale(1.05);
}
.cell:active {
  transform: scale(0.95);
}

#statusText {
  font-size: 1.2em;
  margin: 1.2em 0 0.3em 0;
  color: #2d3748;
}

#restartBtn, #mainBtn {
  display: inline-block;
  /* width: 3em; */
  width: 45%;
  height: 2em;
  margin: 0.5em 0;
  font-size: 1.8em;
  text-align: center;
  background: #ffcc00;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
#restartBtn:hover,
#mainBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
#restartBtn:active,
#mainBtn:active {
  transform: scale(0.9);
}

@media (max-width: 480px) {
  .wrapper .head {
    font-size: 1.5em; 
  }

  #game_board {
    width: 90%;
    max-width: none; 
  }

  .cell {
    width: 4.5em;
    height: 4.5em;
    font-size: 1.3em; 
  }

  #restartBtn,
  #mainBtn {
    font-size: 1.2em;
  }
}